
#new_sec{

    margin:100px 0;
}
#new_title{
    width:100%;
   
    text-align:center;
    margin:50px 0;
    font-size:30px;
    letter-spacing:.4px;
}
#new_depth{
    width:100vw;
   
    display:flex;
    flex-direction:row wrap;
    justify-content:center;


}

#new_depth ul{
    width:940px;
   
    display:flex;
    flex-flow:row wrap;
    gap:20px;
    justify-content:space-between;
    margin-left:calc(50% - 50vw);
    
}


#new_depth li img{
    width:300px;
    height:380px;
}

.text_box{
    width:300px;
    padding:8px 0;
    text-align:center;
    font-size:16px;
    line-height:25px;
}

